/* # General */
@font-face {
    font-family: "Kumbh Sans";
    src: url(../Fonts/KumbhSans-VariableFont_wght.ttf) format("truetype");
}

html {
    font-size: 12px;
    font-family: "Kumbh Sans", Helvetica, sans-serif;
    color: #1d1e35;
}
body {
    background-image: linear-gradient(#af67e9, #6565e7);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p {
    font-size: 1.5rem;
    font-weight: 400;
}

/* # Constants */
/* ## Primary */
/* ### Text */
#very-dark-desaturated-blue {
    color: #1d1e35;
}
#soft-red {
    color: #f47c57;
}
/* ### Gradient (BG color) */
#soft-violet {
    background-color: #af67e9;
}
#soft-blue {
    background-color: #6565e7;
}
/* ## Neutral */
/* ### Text */
#very-dark-grayish-blue {
    color: #4a4b5e;
}
#dark-grayish-blue {
    color: #787887;
}
/* ### Dividers */
#light-grayish-blue {
    color: #e7e7e9;
}

/* # Layout and Design */
.flex-column {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.flex-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

details {
    color: #4a4b5e;
    font-size: 1.5rem;
    width: 100%;
    margin-bottom: 20px;
}
details summary {
    list-style: none;
}
details:hover {
    cursor: pointer;
    color: #f47c57;
}
details[open] img {
    transform: rotate(180deg);
}
details[open] summary p {
    color: black;
    font-weight: bold;
}
details .know-more {
    color: #787887;
}

@media only screen and (min-width: 375px) {
    #faq-container {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: white;
        width: 450px;
        height: 750px;
        border-radius: 25px;
        box-shadow: 0px 30px 40px 5px #1d1e3558;
    }
    
    #illustration-art {
        content: url(../Images/illustration-woman-online-mobile.svg);
        width: 75%;
        position: absolute;
        bottom: 86%;
    }
    #illustration-art-drop-shadow {
        content: url(../Images/bg-pattern-mobile.svg);
        width: 75%;
        position: absolute;
        bottom: 80%;
    }

    #faq-container h1 {
        font-size: 3.5rem;
        font-weight: bold;
        position: absolute;
        bottom: 70%;
    }

    #questions-container {
        width: 85%;
        height: 60%;
        position: relative;
        top: 15%;
    }
    #faq-container hr {
        height: 1px;
        background-color: #e7e7e9;
        border: none;
        margin: 19px 0 21px 0;
    }
}