/* # General */
@font-face {
    font-family: "Kumbh Sans";
    src: url(../Fonts/KumbhSans-VariableFont_wght.ttf) format("truetype");
}

html {
    font-size: 12px;
    font-family: "Kumbh Sans", Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(#af67e9, #6565e7);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* # Constants */
/* ## Primary */
/* ### Text */
#very-dark-desaturated-blue {
    color: #1d1e35;
}
#soft-red {
    color: #f47c57;
}
/* ### Gradient (BG color) */
#soft-violet {
    background-color: #af67e9;
}
#soft-blue {
    background-color: #6565e7;
}
/* ## Neutral */
/* ### Text */
#very-dark-grayish-blue {
    color: #4a4b5e;
}
#dark-grayish-blue {
    color: #787887;
}
/* ### Dividers */
#light-grayish-blue {
    color: #e7e7e9;
}

/* # Layout and Design */
.flex-column {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.flex-question {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}

@media only screen and (min-width: 375px) {
    #faq-container {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: white;
        width: 450px;
        height: 750px;
        border-radius: 25px;
        box-shadow: 0px 30px 40px 5px #1d1e3558;
    }
    
    #illustration-art {
        content: url(../Images/illustration-woman-online-mobile.svg);
        width: 75%;
        position: relative;
        bottom: 225px;
    }
    #illustration-art-drop-shadow {
        content: url(../Images/bg-pattern-mobile.svg);
        width: 75%;
        position: relative;
        bottom: 330px;
    }

    #faq-container h1 {
        font-size: 2.6rem;
        font-weight: 700;
    }
}